body {
    background-image: url('background_pic.jpg');
    /* background-size: 100%;
    background-repeat: no-repeat;
    background-position: fixed; */
    background-position: 50% 50%; /* image centered on screen */
    background-position: 50%; /* this also centers on screen */
    background-position: 100px 100px;
    background-position: center;
}
/* h1 {
    color: #330000;
    font-size: 34;
    border-style: groove;
    border-color: #3399cc;
    border-width: 5;
    background: #cdb99c;
    margin: 0 auto 0 auto;
    width: 250;
} */

.about-me,
.projects {
    color: #330000;
    font-size: 20;
    border-style: groove;
    border-color: #3399cc;
    border-width: 10;
    background: #cdb99c;
    margin: 0 auto 0 auto;
    width: 80%;
    margin-top: 50;
}

.job-experience {
    color: #330000;
    font-size: 16;
    border-style: groove;
    border-color: #3399cc;
    border-width: 10;
    background: #cdb99c;
    margin-left: 50;
    width: 40%;
    margin-top: 60;
    margin-left: 120;
}

.plans-after {
    font-size: 16;
    border-style: groove;
    border-color: #3399cc;
    border-width: 10;
    background: #cdb99c;
    margin-left: 50;
    width: 40%;
    margin-top: 40;
    margin-left: 120;
}

h1 {
    color: #330000;
    font-size: 25;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

hr {
    border: none;
    height: 10px;
    color: #3399cc;
    background-color: #3399cc;
}

#graduation-pic {
    margin-top: 70;
    height: 62%;
}

#my-work {
    margin-top: 70;
    height: 62%;
}

.resume {
    font-size: 24;
    color: turquoise;
}
a:hover {
    color: turquoise;
}
a:link {
    color: teal;
}
a:visited {
    color: turquoise;
}
/* a:active {
    color: turquoise;
} */
